<div class="footer">
  <div class="footer-text">


    <a class="repoLink" href="https://github.com/mjs001/" target="_blank">
      <p>Github</p>
    </a>
    <a class="website" href="https://mjs001.github.io/new-portfolio-site-2023/" target="_blank">
      <p>Portfolio site</p>
    </a>
    <small class="copyright">© <%= new Date().getFullYear() %> Myco Davenport</small>
  </div>
</div>
