<%- include('./partials/header.ejs') %>

<body>
  <div class="title">
    <h1>The Daily Brew</h1>
    <div class="coffee-mug">
      <div class="coffee-container">
        <div class="coffee"></div>
      </div>
    </div>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>

</html>
